.Square {
	width: 150px;
	height: 150px;
	margin: 5px;
	text-align: center;
	background-color: black; 
	border-radius: 5px;
}

@media screen and (max-width: 1000px) {
	.Square {
		width: 130px;
		height: 130px;
		background-size: 130px;
	}
}

@media screen and (max-width: 600px) {
	.Square {
		width: 100px;
		height: 100px;
		background-size: 100px;
	}
}