.Square {
	width: 150px;
	height: 150px;
	margin: 5px;
	text-align: center;
	background-color: black; 
}


img {
	width: 150px;
	height: 150px;
}


@media screen and (max-width: 1000px) {
	.Square {
		width: 130px;
		height: 130px;
	}
	img {
		width: 130px;
		height: 130px;
	}

}

@media screen and (max-width: 600px) {
	.Square {
		width: 100px;
		height: 100px;
	}
	.Square3x4 {
		width: 80px;
		height: 80px;
		margin: 5px;
		text-align: center;
		background-color: black;
	}
	img {
		width: 100px;
		height: 100px;
	}

}