.App {
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  flex-direction: column;
  color: white;
}

.App-main { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
 
}

input[type=button] {
      padding: 10px;
      font-size: 1.5em;
      font-weight: bold;
      color: #3ab10e;
      border: 1px #3ab10e solid;
      border-radius: 1vw;
}
input[type=button]:hover {
      background-color: black;
}
#xs:focus, #s:focus, #m:focus, #l:focus {
      background-color: black;
}
