.Settings {
	padding: 20px;
	text-align: center;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
}
.Settings h1 {
	font-size: 3vw;
}

.property {
	margin: 3vw 0;
	padding: 5px 0;

}
#start {
	padding: 10px;
	font-size: 1.5em;
	font-weight: bold;
	color: #3ab10e;
	border: 1px #3ab10e solid;
	border-radius: 1vw;
}
#start:hover{
	background-color: black;
}

#return {
	display: none;
	justify-content: center;
	margin-top: 25px;
}

.property label {
	display: block;
	font-size: 2vw;
	padding: 5px 0;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.property input {
	margin: 10px 0;
}
.property span {
	font-size: 2vw;
}

#start {
	padding: 15px 20px;
}

@media screen and (max-width: 1000px) {
	.Settings h1 {
		font-size: 4vw;
	}
	.property {
		margin: 3vw 0;
		padding: 2px 0;
	}
	.property label {
		font-size: 2.5vw;
		padding: 5px 0;
	}
	.property span {
		font-size: 2vw;
	}

}

@media screen and (max-width: 600px) {
	.Settings h1 {
		font-size: 6vw;
	}
	.property {
		margin: 3vw 0;
		padding: 2px 0;
	}
	.property label {
		font-size: 5vw;
		padding: 5px 0;
	}
	.property span {
		font-size: 4vw;
	}
}
